.buttons {
  font-size: 0.8rem;
  padding: 0.4em 1.2em;
  border-radius: $border-buttons;
  border-width: 0;
  margin: auto $border-buttons;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  .modal_alert & {
    width: 8%;
    margin: 1% 2%;
  }
}
