$themes: (
  "blue": $blue-color,
  "brown": $brown-color,
  "pink": $pink-color,
  "red": $red-color,
  "green": $green-color,
  "purple": $purple-color,
);

.App {
  @each $theme, $color in $themes {
    &.theme-#{$theme} {
      @include theme($color);
    }
  }
}

.theme-options {
  @extend %flex-row-center;
  justify-content: flex-end;

  div {
    min-width: 1rem;
    min-height: 1rem;
    margin: $primary-margin;
    border-radius: $border-buttons;
    border: 0.06rem solid #dadce0;
    cursor: pointer;

    &.active {
      opacity: 1;
      min-width: 1.6rem;
      min-height: 1.6rem;
    }
  }

  @each $theme, $color in $themes {
    #theme-#{$theme} {
      background-color: $color;
    }
  }
}
