.theme-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5%;

  div {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: $border-radius;
    margin: 2px 10px;
    border: 1px solid $secondary-color;
    opacity: 0.5;
    &.active {
      opacity: 1;
      width: 26px;
      height: 26px;
      border-radius: 20px;
    }
  }
  #theme-red {
    background-color: $red-color;
  }

  #theme-blue {
    background-color: $blue-color;
  }

  #theme-brown {
    background-color: $brown-color;
  }

  #theme-pink {
    background-color: $pink-color;
  }

  #theme-green {
    background-color: $green-color;
  }

  #theme-black {
    background-color: #a3a6a8;
  }
}
