// Start App Theming colors
.App {
  &.theme-blue {
    @include theme($blue-color);
  }

  &.theme-brown {
    @include theme($brown-color);
  }

  &.theme-pink {
    @include theme($pink-color);
  }

  &.theme-green {
    @include theme($green-color);
  }

  &.theme-black {
    @include theme($purple-color);
  }

  &.theme-red {
    @include theme($red-color);
  }
}
// End of App Theming colors

.theme-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;

  div {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: $border-buttons;
    margin: 0.01rem 0.8rem;
    border: 0.06rem solid $secondary-color;
    opacity: 0.5;
    &.active {
      opacity: 1;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  #theme-red {
    background-color: $red-color;
  }

  #theme-blue {
    background-color: $blue-color;
  }

  #theme-brown {
    background-color: $brown-color;
  }

  #theme-pink {
    background-color: $pink-color;
  }

  #theme-green {
    background-color: $green-color;
  }

  #theme-black {
    background-color: $purple-color;
  }
}
