.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-create {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  width: 40%;
  margin: $primary-margin;
  color: $secondary-color;

  h3 {
    text-align: center;
    padding: $primary-padding;
  }

  &__label {
    padding: 1rem 3rem;
    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &__input {
    width: 100%;
    border-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .form-create {
    width: 80%;
  }
}
