.form {
  @extend %flex-column;
  align-items: center;
}

.form-create {
  @extend %flex-column;
  border-radius: $border-radius;
  min-width: 40%;
  margin: $primary-margin;
  color: $secondary-color;

  &__label {
    padding: 1rem 3rem;
    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &__input {
    min-width: 100%;
    border-radius: $border-buttons;
    border-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .form-create {
    &__label {
      padding: 0.5rem 1.5rem;
    }

    &__input {
      font-size: 0.7rem;
    }
  }
}
