@mixin theme($theme-color) {
  $lighten-color: lighten($theme-color, 8%);
  $darken-color: darken($theme-color, 70%);
  $secondary-darken-color: darken($theme-color, 48%);

  .sidenav {
    a {
      color: $secondary-color;
      &:hover {
        background-color: $primary-color;
      }
    }
  }

  form {
    .form-create {
      background-color: $theme-color;
    }
    label {
      background-color: $lighten-color;
    }
  }

  .task-title,
  .sidenav,
  .home-content {
    background-color: $theme-color;
    p,
    h2 {
      color: $secondary-color;
    }
  }

  .task-content {
    background-color: $lighten-color;
    p {
      &.highlight {
        background-color: $theme-color;
      }
    }
  }

  .buttons {
    background-color: $theme-color;
    color: $secondary-color;
    &.btn-left {
      background-color: $darken-color;
      color: $primary-color;
    }

    &.btn-center {
      background-color: $secondary-darken-color;
      color: $primary-color;
    }

    &.btn-right {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}
