.sidenav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 12.5rem;
  overflow-x: hidden;
  padding-top: 5rem;
  a {
    padding: 0.8rem;
    text-decoration: none;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .sidenav {
    width: 50%;
    a {
      font-size: 12px;
      padding-left: 4px;
    }
  }
}
