.sidenav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 16%;
  padding-top: 5.65rem;
  overflow-x: hidden;
  @extend %flex-column;

  a {
    padding: 1rem 4rem 1rem 2rem;
    text-decoration: none;
    h2 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .sidenav {
    min-width: 30%;
    a {
      padding: 1rem 0.5rem;
    }
  }
}
