/* Star task */
.task {
  margin: 8%;
  padding: 4%;
  border-radius: 4px;
  background-color: #484848;
  display: flex;
  flex-direction: column;

  .task-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .task-image {
    max-width: 300px;
    border-radius: 4px;
  }

  .task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .btn-left {
    border-radius: 4px 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-center {
    border-radius: 0;
  }

  .btn-right {
    border-radius: 0px 4px 4px 0px;
  }
}
/* End task */
