/* Star task */
.task {
  margin: 4% auto;
}
.task-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;
  height: 63px;
  align-items: center;
  padding-left: 6%;
  padding-right: 2%;
}

.task-content {
  height: 100px;
  border-radius: 0px 0px 8px 8px;
  padding-top: 2%;
  p {
    padding-left: 6%;
    &.highlight {
      font-weight: 700;
    }
  }
}

.task-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  form & {
    font-size: 12px;
    border-radius: 20px;
    width: 180px;
    height: 32px;
    padding: 6px 12px;
    margin-top: 2%;
    cursor: pointer;
    outline: none;
  }

  .task & {
    font-size: 12px;

    &.btn-left {
      border-radius: 20px 0px 0px 20px;
      color: $primary-color;
    }

    &.btn-center {
      border-radius: 0;
      color: $primary-color;
    }

    &.btn-right {
      border-radius: 0px 20px 20px 0px;
      background-color: $primary-color;
      color: $secondary-color;
      // &:focus {
      //   box-shadow: 0 0 0 0.1rem rgba(253, 65, 13, 0.25);
      // }
    }
  }
}

.task-image {
  max-width: 300px;
  border-radius: 4px;
}

/* End task */
