$primary-color: #fff;
$secondary-color: #333;
$red-color: #ffc7cd;
$pink-color: #ecd6ec;
$brown-color: adjust-hue($pink-color, 90deg);
$green-color: adjust-hue($pink-color, 180deg);
$blue-color: adjust-hue($pink-color, 270deg);
$purple-color: adjust-hue($pink-color, 300deg);
$border-radius: 0.5rem;
$border-buttons: calc($border-radius / 2);
$primary-padding: 0.5rem 2rem;
$primary-margin: 2rem 1rem;

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row-center {
  display: flex;
  align-items: center;
}
