$primary-color: #fff;
$secondary-color: #212121;
$red-color: #ffc7cd;
$pink-color: #ecd6ec;
$brown-color: adjust-hue($pink-color, 90deg);
$green-color: adjust-hue($pink-color, 180deg);
$blue-color: adjust-hue($pink-color, 270deg);
$border-radius: 8px;
