body {
  background-color: #212121;
  height: 100%;
  color: #ffffff;
  font-family: "TT Hoves", sans-serif;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  margin-left: 10px;
}

.container {
  background-color: #212121;
}

p {
  color: #ffffff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
