@import "task";

// Modal component style
.modal_alert {
  margin-left: 200px;
  background-color: grey;
  color: $primary-color;
  text-align: center;
  padding-bottom: 2%;
}

@media screen and (max-width: 1024px) {
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.1rem !important;
  }

  .home-content {
    align-self: unset;
    h3 {
      padding: 0.5rem 1rem;
    }
  }
}
