@import "variables";
@import "mixins";
@import "colorThemes";
@import "formTask";
@import "buttons";
@import "navbar";
@import "task";

body {
  font-family: "Roboto", sans-serif;
  color: $secondary-color;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.modal_alert {
  margin-left: 200px;
  background-color: grey;
  color: $primary-color;
  text-align: center;
  padding-bottom: 2%;
}

.home-card {
  border-radius: 8px;
  margin: 4% auto;
}

.home-content {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;
  height: 63px;
  align-items: center;
  padding-left: 6%;
  padding-right: 2%;
}

@media only screen and (max-width: 600px) {
  .App,
  .modal_alert {
    margin-left: 100px;
  }
}
