@import "variables";
@import "mixins";
@import "colorThemes";
@import "formTask";
@import "buttons";
@import "navbar";
@import "task";

body {
  font-family: "Roboto", sans-serif;
  color: $secondary-color;
}

.flex-center {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius;
  height: 63px;
  width: 80%;
  padding-left: 6%;
  padding-right: 2%;
  margin: 4% auto;
}

.modal_alert {
  margin-left: 200px;
  background-color: grey;
  color: $primary-color;
  text-align: center;
  padding-bottom: 2%;
}

@media only screen and (max-width: 600px) {
  .App,
  .modal_alert {
    margin-left: 100px;
  }
}
