.form-create {
  margin: 8%;
  border-radius: 4px;
  background-color: #484848;

  label {
    display: grid;
    padding: 1% 4%;
  }

  h1 {
    text-align: center;
    padding: 4% 2%;
    border-bottom: solid;
  }
  h4 {
    margin: 8% 0 1% 0;
  }
}
