.form-create {
  margin: 8%;
  padding: 4%;
  border-radius: 4px;
  background-color: #484848;

  label {
    display: grid;
  }

  h1 {
    text-align: center;
  }
  h4 {
    margin: 8% 0 1% 0;
  }
}
