.form-create {
  margin: 8%;
  border-radius: 4px;
  background-color: #484848;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    padding: 4% 2%;
    border-bottom: solid;
  }

  label {
    padding: 4% 8%;
  }

  input {
    width: 100%;
  }
}
