.theme-options {
  max-width: 800px;

  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid rgb(114, 112, 112);
    display: inline-block;
    opacity: 0.5;
    &.active {
      opacity: 1;
      width: 30px;
      height: 30px;
    }
  }
}

#theme-white {
  background-color: white;
}

#theme-blue {
  background-color: #18227c;
}

#theme-orange {
  background-color: #ff9800;
}

#theme-red {
  background-color: #d32f2f;
}

#theme-green {
  background-color: green;
}

#theme-black {
  background-color: black;
}

// Theming colors
.App {
  height: 100vh;
  margin-left: 160px; /* Same as the width of the sidenav */
}
.App.theme-blue {
  .container,
  body,
  .sidenav a:hover {
    background-color: #5288ca;
  }
  .task,
  .form-create,
  .sidenav {
    background-color: #2c5281;
    p,
    h2 {
      color: #ffffff;
    }
  }
  .sidenav a {
    color: #ffffff;
  }

  .button:hover {
    background-color: #5288ca;
    color: #ffffff;
  }
}

.App.theme-orange {
  .container,
  body,
  .sidenav a:hover {
    background-color: #ff9800;
  }
  .task,
  .form-create,
  .sidenav {
    background-color: #ff7300;
    p,
    h2 {
      color: #000000;
    }
  }
  .sidenav a {
    color: #000000;
  }

  .button:hover {
    background-color: #ff9800;
    color: #ffffff;
  }
}

.App.theme-red {
  .container,
  body,
  .sidenav a:hover {
    background-color: #d32f2f;
  }
  .task,
  .form-create,
  .sidenav {
    background-color: #d89287;
    p,
    h2 {
      color: #d32f2f;
    }
  }
  .sidenav a {
    color: #d32f2f;
    &:hover {
      color: #d89287;
    }
  }

  .button {
    color: #d32f2f;
  }
  .button:hover {
    background-color: #d32f2f;
    color: #ffffff;
  }
}

.App.theme-green {
  .container,
  body,
  .sidenav a:hover {
    background-color: #003636;
  }
  .task,
  .form-create,
  .sidenav {
    background-color: #48848f;
    p,
    h2 {
      color: #c8f7c5;
    }
  }
  .sidenav a {
    color: #c8f7c5;
  }

  .button:hover {
    background-color: #003636;
    color: #fff;
  }
}

.App.theme-black {
  background-color: #212121;
  color: #ffffff;
}

.App.theme-white {
  .container,
  body,
  .sidenav a:hover {
    background-color: #cfd8dc;
  }
  .task,
  .form-create,
  .sidenav {
    background-color: #ffffff;
    p,
    h2 {
      color: #484848;
    }
  }
  .sidenav a {
    color: #484848;
  }

  .button {
    border-width: 0.05em;
    border-style: solid;
    border-color: #cfd8dc;
  }
  .button:hover {
    background-color: #cfd8dc;
    color: #000000;
  }
}
